pipeline/PL_COPY_SOURCE_TO_DESTINATION.json
{
	"name": "PL_COPY_SOURCE_TO_DESTINATION",
	"properties": {
		"activities": [
			{
				"name": "Copy data from source",
				"description": "",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "source//@{variables('SET_FILENAME')}"
					},
					{
						"name": "Destination",
						"value": "destination//"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transaction_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "transactional_date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "transactional_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "product_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "product_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "customer_id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "customer_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "payment",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "payment",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "credit_card",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "credit_card",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "loyalty_card",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "loyalty_card",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "cost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "cost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "quantity",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "quantity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "price",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "price",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_PARAMETERIZED_CSV",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('SET_FILENAME')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DESTINATION_CSV",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SOURCE_CSV",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SET_FILENAME",
					"value": {
						"value": "@activity('Get Metadata1').output.childItems[0].name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SET_FILENAME": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-18T13:19:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}