littleKrishna/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "littleKrishna"
		},
		"LS_BLOB_CONNECTION_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BLOB_CONNECTION'"
		},
		"LS_BLOB_STORAGE_CONNECTIONS_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BLOB_STORAGE_CONNECTIONS'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "heera//"
							},
							{
								"name": "Destination",
								"value": "heera-output//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ""
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "teacher_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_mobile",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_mobile",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "JoiningDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JoiningDate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "state",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "teacher_all_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "teacher_all_level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "is_mentor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "is_mentor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "is_director",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "is_director",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "input_dataset_excel",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-13T18:17:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/input_dataset_excel')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_SOURCE_TO_DESTINATION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data from source",
						"description": "",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "source//@{variables('SET_FILENAME')}"
							},
							{
								"name": "Destination",
								"value": "destination//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "transaction_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transaction_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "transactional_date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "transactional_date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "product_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "product_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "customer_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "customer_id",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payment",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "credit_card",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "credit_card",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "loyalty_card",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "loyalty_card",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cost",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "quantity",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SOURCE_PARAMETERIZED_CSV",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@variables('SET_FILENAME')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DESTINATION_CSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_SOURCE_CSV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"lastModified",
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "SET_FILENAME",
							"value": {
								"value": "@activity('Get Metadata1').output.childItems[0].name",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"SET_FILENAME": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-18T13:19:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SOURCE_PARAMETERIZED_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_DESTINATION_CSV')]",
				"[concat(variables('factoryId'), '/datasets/DS_SOURCE_CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_CONNECTION",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "output.csv",
						"container": "heera-output"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "teacher_id",
						"type": "String"
					},
					{
						"name": "teacher_email",
						"type": "String"
					},
					{
						"name": "teacher_mobile",
						"type": "String"
					},
					{
						"name": "teacher_name",
						"type": "String"
					},
					{
						"name": "JoiningDate",
						"type": "String"
					},
					{
						"name": "teacher_status",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "teacher_level",
						"type": "String"
					},
					{
						"name": "teacher_all_level",
						"type": "String"
					},
					{
						"name": "is_mentor",
						"type": "String"
					},
					{
						"name": "is_director",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_CONNECTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DESTINATION_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_STORAGE_CONNECTIONS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_STORAGE_CONNECTIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SOURCE_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_STORAGE_CONNECTIONS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "transaction_id",
						"type": "String"
					},
					{
						"name": "transactional_date",
						"type": "String"
					},
					{
						"name": "product_id",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "payment",
						"type": "String"
					},
					{
						"name": "credit_card",
						"type": "String"
					},
					{
						"name": "loyalty_card",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_STORAGE_CONNECTIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SOURCE_PARAMETERIZED_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_STORAGE_CONNECTIONS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "transaction_id",
						"type": "String"
					},
					{
						"name": "transactional_date",
						"type": "String"
					},
					{
						"name": "product_id",
						"type": "String"
					},
					{
						"name": "customer_id",
						"type": "String"
					},
					{
						"name": "payment",
						"type": "String"
					},
					{
						"name": "credit_card",
						"type": "String"
					},
					{
						"name": "loyalty_card",
						"type": "String"
					},
					{
						"name": "cost",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_STORAGE_CONNECTIONS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input_dataset_excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB_CONNECTION",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "APT Teachers List 2021.xlsx",
						"container": "heera"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "teacher_id",
						"type": "String"
					},
					{
						"name": "teacher_email",
						"type": "String"
					},
					{
						"name": "teacher_mobile",
						"type": "String"
					},
					{
						"name": "teacher_name",
						"type": "String"
					},
					{
						"name": "JoiningDate",
						"type": "String"
					},
					{
						"name": "teacher_status",
						"type": "String"
					},
					{
						"name": "city",
						"type": "String"
					},
					{
						"name": "state",
						"type": "String"
					},
					{
						"name": "teacher_level",
						"type": "String"
					},
					{
						"name": "teacher_all_level",
						"type": "String"
					},
					{
						"name": "is_mentor",
						"type": "String"
					},
					{
						"name": "is_director",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB_CONNECTION')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_CONNECTION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BLOB_CONNECTION_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB_STORAGE_CONNECTIONS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BLOB_STORAGE_CONNECTIONS_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		}
	]
}